
<h1>Suggestions</h1>
	<ul style="list-style-type:none;list-style:none;padding-left:0;">
	{{#if buttons}}
		{{#each buttons as |row|}}
			{{#each row as |button|}}
				{{#unless button.empty}}
					<li>
					<span role=button style="position:relative;left:80%;top:30px;" class="add-button" aria-label="Add Button" onclick={{action "addButton" button}}>
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</span>
					{{button.sidebar_html}}
					</li>
				{{/unless}}
			{{/each}}
		{{/each}}
	{{/if}}
	</ul>